.mainspace-container {
  width: 100%;
  height: 90vh;
}

.out-box {
  margin-top: 20px;
  width: 100%;
  height: 90vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black dotted 1px;
  border-radius: 10px;
  overflow-y: auto;
}

.search-title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 40px;
}

.input-hint {
  font-size: 0.5rem;
  color: gray;
}

.input-box {
  width: 30vw;
}

.result-area {
  width: 30vw;
  border: 1px gray solid;
  height: 30vh;
  overflow: auto;
}

.code-area {
  width: 30vw;
  border: 1px green dotted;
  height: 30vh;
  overflow-y: auto;
}
